/* Adding font */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Style for the combined container */
#combined-container {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px; /* Adjusted padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: skyblue;
    max-width: 90%;
    margin: auto;
}

/* container headings */
.container-heading {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

/* form labels and inputs */
.formLable,
.inp {
    display: block;
    width: calc(100% - 16px); /* Adjusted width */
    box-sizing: border-box;
    margin-bottom: 8px;
}

/* form labels */
.formLable {
    font-size: 14px;
    color: black;
}

/* form inputs */
.inp {
    padding: 8px;
}

/* for the submit button */
#Project-form input[type="submit"] {
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Hover for the submit button */
#Project-form input[type="submit"]:hover {
    background-color: darkgreen; /* Adjusted color */
}

/* Style for the data table */
table {
    width: 100%;
    border: 1px solid black;
    margin: auto;
}

th,
td {
    border: 1px solid #333;
    padding: 6px;
    text-align: center;
}

th {
    background-color: grey;
    color: white;
}

tr:nth-child(even),
tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: lightgreen;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media only screen and (min-width: 600px) {
    /* Adjustments for larger screens */
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Style for the action buttons in the table */
button1,
button2 {
    display: block;
    margin: 5px auto;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

button1 {
    background-color: red;
    color: white;
}

button2 {
    background-color: rgb(27, 131, 165);
    color: white;
}

td:last-child {
    width: 180px;
}

#pagination {
    text-align: center;
    margin-top: 30px;
}

/* Style for the pagination buttons */
#pagination button {
    background-color: darkgreen;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
}

/* Hover effect for pagination buttons */
#pagination button:hover {
    background-color: grey;
}
